
html{
    background-image: Menu_Theme_The_Eternal_Ordeal.webp;
}

body{
    
    max-width: 1200px;
    margin:auto
        
}

/*section 1*/

h4{
    margin:0px;
    font-size: 24px;
    color: #F9FAF8;
}

.big-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin:0px;
    
    
}
.big-text p{
    margin:0px;
    font-size: 18px;
    color:#E5E7EB;
   
}

.header{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap:100px;
    background-color: #1F2937;
    padding: 10px 110px;
    padding-bottom: 120px;
         
}
.top{
    display: flex;
    justify-content: space-between;
}
.text-pic{
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.right-links{
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;    
    border: none;
    padding: 8px 30px;
    margin-top:16px;
    border-radius: 6px;
}


.pic{
    width: 120px;
    height: 120px;
    border:5px solid;
    border-color:#3882f6 ;
    border-radius: 15px;
    padding: 10px;
}

/*section 2*/
.middle-one{
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding-top: 25px;
    padding-bottom:55px;
    gap:25px
    

}
.squares{
    display: flex;       
   gap:100px

}
.square-one, .square-two, .square-three, .square-four{
    display:flex ;
    flex-direction: column;    
    flex-wrap: wrap;
    max-width: 100px;    
}
h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.squares p{
    text-align: center;
}

/*section 3*/

.middle-two{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB ;
    padding: 100px
}
cite{
    text-align: left;
    font-size: 36px;
    color: #1F2937;
}
strong{
    text-align: end;
    font-size: 20px;
}