
html{
    
}

body{
    
    max-width: 1200px;
    margin:auto;
    background-image: url(Menu_Theme_The_Eternal_Ordeal.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
        
}

/*section 1*/

h4{
    margin:0px;
    font-size: 24px;
    color: #F9FAF8;
}

.big-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin:0px;
    padding-top: 15px;
    padding-bottom: 10px
    
    
}
.big-text p{
    margin:0px;
    font-size: 18px;
    color:#E5E7EB;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap:100px;
    background-color: #1F2937;
    padding: 10px 110px;
    padding-bottom: 120px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
             
}

.big-pic em{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: flex-end;
}

.top{
    display: flex;
    justify-content: space-between;
}
.text-pic{
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.right-links{
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;    
    border: none;
    padding: 8px 30px;
    margin-top:16px;
    border-radius: 6px;
}


.pic{
    width: 120px;
    height: 120px;
    border:5px solid;
    border-color:#3882f6 ;
    border-radius: 15px;
    padding: 10px;
}

/*section 2*/
.middle-one{
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding-top: 25px;
    padding-bottom:55px;
    gap:25px;
    
    

}
.squares{
    display: flex;       
   gap:100px

}
.squares p{
    color: #E5E7EB;
}
.square-one, .square-two, .square-three, .square-four{
    display:flex ;
    flex-direction: column;    
    flex-wrap: wrap;
    max-width: 100px;    
}
h3{
    font-size: 36px;
    font-weight: bolder;
    color: #E5E7EB;
    text-align: center;
}
.squares p{
    text-align: center;
}

/*section 3*/

.middle-two{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB ;
    padding: 120px 180px;
    border-radius: 8px;
    gap:20px
    
}
cite{
    text-align: left;
    font-size: 36px;
    color: #1F2937;
}
strong{
    text-align: end;
    font-size: 20px;
}

/*section 4*/

.bottom{
    display: flex;  
       
    justify-content: center;
    padding: 100px;
    
    

    
    
}
.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: auto;
    margin:auto;
    gap:5px;
   
    
}
.bottom button{
    margin:0px;
    border-color: #E5E7EB;
    border:2px solid;
    padding: 8px 30px;

}
.text p{
    padding:0px;
    margin:0px
}
.top-blue{
    font-size: 20px;
    color: #E5E7EB;
    font-weight: bolder;
}
.bottom-blue{
    color:#E5E7EB;
    font-size: 16px;
    
}
.around-text{
    display: flex;
    padding:50px;
    margin:50px;
    background-color: #3882f6;
    border-radius: 8px;
    gap:200px;
}
/*footer*/
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

